<h1>Our Special Cocktails</h1>
<p>please see our cocktails</p>
<ul>
  <% @cocktails.each do |c| %>
  <li>
    <%= c.name %>
    <%= link_to "Show Details", cocktail_path(c) %>
    <%= link_to "Add a Dose", new_cocktail_dose_path(c) %>
    <%= link_to "Delete", c, method: :delete %>
  </li>
  <% end %>
</ul>
<%= link_to "Add a new cocktail", new_cocktail_path %>
